.CartItem {
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.NameAndPrice {
  display: flex;
  align-items: center;
}

.NameAndPrice h3 {
  margin-right: 1rem;
}

.ImageAndDescription {
  display: flex;
  align-items: center;
}

.CartItemValue {
  border: 1px solid #20124d;
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 1rem;
  text-align: center;
}

.FirstPart img {
  width: 45%;
  object-fit: contain;
}

.FirstPart {
  display: flex;
  flex-direction: column;
}

.Description {
  padding: 0 1.5rem;
}

.cart-msg h4 {
  margin: 0;
  margin-top: 1rem;
}

.cart-msg p {
  margin: 0 0.5rem;
}
