.ItemContainer {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 60%;
}

.CartContainer {
  padding-top: 15vh;
  min-height: 85vh;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.paniervide p {
  text-align: center;
}

.containercart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
