.card-product {
    width: 30vw;
    display: flex;
    flex-direction: column;
}
.card-product-img {
    width:80%;
    height: 20vh;
    background-color: black;
    margin: auto;
    margin-bottom: 0.7rem;
}

.card-product .button-custom {
    margin: auto;
}