.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 40px 0px;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 100px;
  width: 480px;
  max-width: 80%;
  min-width: 100px;
  min-height: 760px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.75);
  background-color: #fefefe;
}

.FormWrapper {
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 480px;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.75);
  background-color: #fefefe;
}

.FormWrapper h2 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.25em;
  margin-bottom: 20px;
  color: #20124d;
}

.FormWrapper form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.info {
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.info small {
  color: red;
}

.FormWrapper label {
  margin-bottom: 0.5em;
  color: #444;
  font-weight: 600;
}

.FormWrapper .LabelBad {
  color: #db2269;
}

.FormWrapper input {
  padding: 10px 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #d6d1d5;
  width: 100%;
}

.FormWrapper input:hover,
.FormWrapper textarea:hover {
  border: 1px solid #e12b4d;
}

.FormWrapper textarea {
  height: 200px;
  padding: 10px 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #d6d1d5;
  width: 100%;
}

.FormWrapper textarea::placeholder {
  font-size: 1.2em;
  color: #bbb;
}

.FormWrapper input::placeholder {
  font-size: 1.2em;
  color: #bbb;
}

.InputLengthDefault {
  border: 1px solid #d6d1d5;
}

.InputLengthOk {
  border: 1px solid #10ac84;
}

.FormWrapper .InputLengthBad,
.FormWrapper .TextareaLengthBad {
  border: 1px solid #db2269;
}

.FormWrapper button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 0.938em;
  border: none;
  border-radius: 10px;
  background-color: #231864;
  color: #fefefe;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.error {
  color: #db2269;
  font-size: 0.8em;
  display: relative;
  padding: 5px;
}

.name,
.email,
.phone,
.subject {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.name {
  width: 100%;
}

.email,
.phone,
.subject {
  width: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
}

.submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
