.cards_online {
  display: flex;
  width: 90%;
  margin: 1rem auto;
}

.cards_online img {
  margin: 1rem;
}

.info_adminshop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_adminshop a,
.cards_online a {
  text-align: center;
}

.card_content {
  border-radius: 10px;
  border: 0.1rem solid #231864;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin: 0.5rem;
  background-color: #fff;
}

.card_content h3 {
  border-radius: 10px 10px 0 0;
  padding: 0.5rem;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 500;
}

.card_content p {
  margin: 0;
}
