.home {
    width:90%;
    margin:auto;
    padding-bottom: 1rem;
}

.home h2 {
    margin-top: 3rem;
}

.contBtn {
    display: flex;
    justify-content: center;
    width: 100%;
}


.container {
    width: 500px;
    height: 600px;
    text-align: justify;
    border-top: none;
}

.active {
    background: #fff2ceff;
    color: #20124d;
}

.container-products {
    background-color:#fff2ceff;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
}

.home .round {
    border-radius: 0 10px 0 0;
}