.shop-slider-container {
  border-radius: 0 10px 10px;
  width: 100%;
  padding: 0.5rem 0;
  border: 0.1rem solid #231864;
}

.shop-slider-container a {
  text-decoration: none;
  width: auto !important;
}

.slick-list,
.slick-slider,
.slick-track,
.slick-initialized {
  position: relative;
  display: block;
  width: 95%;
  margin: auto;
}

.slick-track {
  top: 0;
  left: 0;
}

.slick-slide {
  height: 15vh;
}

.slick-slide button {
  border: none;
  background-color: transparent;
}

.slick-slide button:hover {
  cursor: pointer;
}

.slick-slide img {
  display: block;
  margin: auto;
  position: unset;
  width: 10rem;
  height: 15vh;
  object-fit: contain;
}

.lastitem {
  padding-bottom: 3rem;
}
