.shop-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 40vh;
  margin: 100px auto 0 auto;
}
.shop-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  height: 100%;
  position: relative;
  margin-bottom: 3rem;
}

.shop-info-container hr {
  position: absolute;
  height: 100%;
  width: 1px;
  padding: 0;
  background-color: #231864;
  opacity: 0.5;
}

.shop-logo-container {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.shop-info-logo {
  width: 20vw;
  height: 10vh;
  object-fit: contain;
}

.shop-info-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-left: 10%;
}

.shop-info-description h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.shop-info-container h4 {
  margin: 0.5rem 0;
}
