.Footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.About {
}

.About ul {
  list-style-type: none;
}

.About ul li {
  margin-bottom: 37px;
}

.About ul li a {
  color: black;
  text-decoration: none;
}

.Newsletter form {
  display: flex;
  flex-direction: column;
}

.FirstnameLastnameInputs {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.FirstnameLastnameInputs fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Newsletter fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.SocialNetwork {
  display: flex;
}

.SocialNetworkItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.SocialNetworkItem:hover {
  cursor: pointer;
}

.vl {
  border-left: 2px solid #231864;
  height: 280px;
  margin-right: 50px;
}

.SocialNetworkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.IconSocialNetwork {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #231864;
}

.SubscribeBtn {
  margin-left: 10px;
}
