body {
    font-family: 'Montserrat', 'sans-serif';
    overflow-x: hidden;
    outline:none;
    color:#20124d 
}

/*TITLE*/
h2 {
  font-weight: 900;
  font-size: 30px;
}
h3 {
  font-weight: 800;
  font-size: 25px;
}
h4 {
  font-weight: 00;
  font-size: 15px;
}

/*button onglet*/
.onglets {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  height: 3rem;
  background: #20124d;
  color: #fff2ceff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border:none;
  font-weight: 600;
  font-size:1.1rem
}



