body {
  overflow-x: hidden;
  outline:none;
}

/*BUTTON*/
.button-custom {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  background-color: #F28A2F;
  color: #fff;
  border-radius: 30px;
  border:none;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.button-custom:hover {
  cursor: pointer;
}